* {
    margin: 0;
    padding: 0;
    
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 0, 255, 30%);
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0 60px 0px rgb(240, 239, 239);
    border-radius: 50%;
    cursor: pointer;
}

<<<<<<< HEAD

=======
>>>>>>> 86e06504345844e075eb4fbea19d42d189a3006c
.burger-container {
    position: relative;
    top: 185px;
 

}    
.burger-container>span {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    box-shadow: 0 0 60px 0px rgb(0, 0, 0);
    
}

.burger-container>span::before {
    content: '';
    width: 88%;
    right: 6%;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    box-shadow: 0 0 60px 0px rgb(0, 0, 0);
    transform: translateY(-300%);
}


.burger-container>span::after {
    content: '';
    width: 88%;
    right: 6%;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    box-shadow: 0 0 60px 0px rgb(0, 0, 0);
    transform: translateY(300%);
}

.active .burger-container>span::before {
    display: none;
}

.active .burger-container>span {
    transform: rotate(-45deg);
    transition: 0.3s;
}
.active .burger-container>span::after {
    transform: rotate(90deg);
    transition: 0.3s;
    width: 100%;
    right: 0;

}
